.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: #4b4b4b;
}

.expenseDate {
    color: #fff;
    margin-left: 5px;
    font-weight: bold;
    background: #2b2a2a;
    border: #fff solid 1px;
    border-radius: 10px;
    padding: 10px;
}

.updateExpenseBtn {
    margin-left: 5px;
    padding: 5px;
    background: rgb(27, 182, 6);
    color: #fff;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.updateExpenseTitleBtn {
    margin-left: 5px;
    padding: 5px;
    background: rgb(27, 182, 6);
    color: #fff;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.updateExpenseTitleBtn:hover {
    background: rgb(24, 165, 5);
}

.updateExpenseBtn:hover {
    background: rgb(24, 165, 5);
}